body {
	background-color: #2EC9CC;
	}
li {
	list-style-type: none;
}
/*li {
  display: inline-block;
}*/
/*ul {
  width: 50%;
  float: left;
}*/

/*div {
  float: left;
  border: 1px solid blue;
  width: 40%;
  height: 400px;
}*/

.clicked {
	border: 1px solid green;
  background-color: yellow;
}

.jumbotron {
	text-align: center;
	height: 500px;
}
#image figure img {
	height: 400px;
}
